* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 14px;
}

body {
    width: 100%;
    min-height: 100vh;
    background-color: #fafafa;
    margin: 0px;
    padding: 0px;
    display: flex;
    justify-content: center;
}

.instagram-wrapper {
    display: flex;
    align-items: center;
    justify-content: start;
    width: 60%;
    height: 785px;
}

.instagram-phone {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-basis: 454px;
    width: 50%;
    height: 618px;
}

.instagram-continue {
    -webkit-box-flex: 1;
    -webkit-box-pack: center;
    justify-content: center;
    flex-grow: 1;
    margin-top: 12px;
    max-width: 350px;
}

.group {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    background-color: #fff;
    width: 100%;
    padding: 1.3rem 0;
    border: 1px solid #dbdbdb;
    border-radius: 1px;
    margin: 0 0 10px;
    padding: 10px 0;
}

.group:nth-child(1) {
    min-height: 19rem;
}

.instagram-logo {
    height: 3rem;
}

.profile-photo {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    overflow: hidden;
}

.profile-photo img {
    height: 6rem;
}

.instagram-login {
    background-color: #0095f6;
    color: #fff;
    padding: 8px;
    border-radius: 4px;
}

.instagram-logout {
    color: #0095f6;
    margin-top: 1rem;
    font-weight: bold;
}

.not-account {
    color: #262626;
    margin: 15px;
    font-size: 14px;
    text-align: center;
}

.links {
    margin-bottom: 15px;
    text-align: center;
    font-weight: bold;
}

.or {
    font-weight: normal;
}

.link-blue {
    color: #0095f6;
}

.login-footer {
    -webkit-box-align: stretch;
    align-items: stretch;
    box-sizing: border-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    position: relative;
    justify-content: center;
    padding: 0;
    margin: 0;
}

.get-app {
    color: #262626;
    font-size: 14px;
    line-height: 18px;
    margin: 10px 20px 10px 20px;
    text-align: center;
    font-weight: bold;
}

.download {
    -webkit-box-align: stretch;
    box-sizing: border-box;
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: stretch;
    position: relative;
}

.app-download {
    height: 3rem;
    width: 10rem;
    background-size: cover;
}

.app-download:nth-child(1) {
    background-image: url('./img/apple-button.png');
    margin: 10px 0 10px 0;
}

.app-download:nth-child(2) {
    background-image: url('./img/google-button.png');
    margin: 10px 0 10px 0;
}

/* media queries */

@media (max-width: 1024px) {
    .instagram-wrapper {
        width: 90%;
    }
}

@media (max-width: 650px) {
    body {
        background-color: #fff;
    }

    .instagram-wrapper {
        width: 90%;
    }

    .instagram-phone {
        display: none;
    }

    .instagram-continue {
        width: 100%;
    }

    .group {
        border: none;
    }
}